#welcome{
  font-size: 48px;
  color: rgb(88, 196, 234);
}
#title-image{
  margin-top: 35px;
}
#title-image{
  margin-bottom: 35px;
}
body {
  background-image: url('background_image_opacity.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-opacity: 0.5;

}



